@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sour-gummy: "Sour Gummy", sans-serif;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: "Sour Gummy", sans-serif;
}

.fade {
  opacity: 0;
  transition: opacity 0.15s;
  transition-timing-function: ease;
}

.show {
  opacity: 1;
  transition: opacity 0.15s;
  transition-timing-function: ease;
}

.title {
  animation-name: fade-out-in;
  animation-timing-function: ease;
  animation-duration: 1s;
}

@keyframes fade-out-in {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.title-desc {
  animation-name: titleDesc;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

@keyframes titleDesc {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
